// Colors
$veryDarkBlue: hsl(233,47%,7%); // main background
$softViolet : hsl(277, 64%, 61%); // card background
$darkDesaturatedBlue: hsl(244, 38%, 16%); // accent
$white : hsl(0, 0%, 100%); // main heading, stats
$slightlyTransparentWhite: hsla(0, 0%, 100%, 0.75); // main paragraph
$slightlyTransparentWhiteStatHeading : hsla(0, 0%, 100%, 0.6); // stat headings

// Font size
$font-size: 0.9375rem; // 15px

// sizes
// Mobile: 375px
// Desktop: 1440px


